.App {
    margin: auto;
    max-width: 900px;
    background-color: #FFC300;
    border-radius: 20px;
}

h1 {
    text-align: center;
    box-sizing: 50px;
    padding: 7px;
    background-color: yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.line {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;

}

